<script src="https://kit.fontawesome.com/yourcode.js"></script>
<p id="notice"><%= notice %></p>

<%= link_to 'New Manga', new_manga_path %>

<section>
<div class="main-content">
		<form action="<c:url value='/admin-new-list'/>" id="formSubmit" method="get">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<p>Manga</p>
							</li>
						</ul>
						<!-- /.breadcrumb -->
					</div>
					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<div class="widget-box table-filter">
									<div class="table-btn-controls">
										<div class="pull-right tableTools-container">
											<div class="dt-buttons btn-overlap btn-group">
												<a flag="info"
												   class="dt-button buttons-colvis btn btn-white btn-primary btn-bold" data-toggle="tooltip" ></a>
												   
															<span>
																<i class="fa fa-plus-circle bigger-110 purple"></i>
															</span>
												</a>
												
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th><input type="checkbox" id="checkAll"></th>
														<th>Title</th>
														<th>Number of pages</th>
														<th>Price</th>
														<th>Author</th>
														<th>Pulisher</th>
														<th>Manipulations</th>
													</tr>
												</thead>
												<tbody>
												  <% @mangas.each do |manga| %>
                          <tr>
                            <td><input type="checkbox" value="manga.id"></td>
                            <td><%= manga.title %></td>
                            <td><%= manga.number_of_pages %></td>
                            <td><%= manga.price %></td>
                            <td><%= manga.author %></td>
                            <td><%= manga.pulisher %></td>
                            <td>
                              <%= link_to 'Show', manga %>
                              <a class="btn btn-sm btn-primary btn-edit" data-toggle="tooltip"
																   title="Edit Manga" href='<%= edit_manga_path(manga) %>'><i class='far fa-edit'></i>
																</a>
                              <%= link_to 'Destroy', manga, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'far fa-edit' %>
                              
                            </td>
                          </tr>
                         
                      <% end %>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</form>
		</div>
		</section>
