<p id="notice"><%= notice %></p>
<h1 style="color: Blue; padding-left: 5px "> Manga Review</h1>
<div class="" style="margin-left: 5%">
    <table class="" >
       <tbody>
         <tr>
           <td><strong>Title:</strong></td>
           <td style="padding-left: 15px"><%= @manga.title %></td>
          </tr>
          <tr>
            <td><strong>Number of pages:</strong></td>
            <td style="padding-left: 15px"><%= @manga.number_of_pages %></td>
          </tr>
          <tr>
            <td><strong>Price:</strong></td>
            <td style="padding-left: 15px"><%= @manga.price %></td>
          </tr>
          <tr>
            <td><strong>Author:</strong></td>
            <td style="padding-left: 15px"><%= @manga.author %></td>
          </tr>
          <tr>
            <td><strong>Pulisher:</strong></td>
            <td style="padding-left: 15px"><%= @manga.pulisher %></td>
          </tr>
       </tbody>
    </table>

  
   <p><strong>Image:</trong></br>
   </hr>

  <% if @manga.image.attached? %>

    <%= image_tag @manga.image %>

  <% end %>

   </p>
<h2 style="color: Blue">Review From</h2>
<%= form_with(model: @manga_review, local: true) do |form| %>
  <div class= "field">
    <%= form.text_area :review %>
    <%= form.hidden_field :manga_id, :value => @manga.id %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<h2 style="color: Blue">Review List</h2>
<ul>
  <% @manga.manga_review.each do |manga_review|%></br>
  <li  class="review">

     <b><%= manga_review.user.name if manga_review.user %></b>: <%= manga_review.review %></br>
     </li>
<% end %>
</ul>
<%= link_to 'Edit', edit_manga_path(@manga) %> |
<%= link_to 'Back', mangas_path %>
</div>
<style>
    .review{
        border: 1px solid #000;
        padding-left:5px;
        list-style : none;
        border-radius: 10px;
        padding-top: 4px;
        padding-botton: 4px;
        width: 600px;
        background:Lavender;
    }
</style>