<p id="notice"><%= notice %></p>

 <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">School Stuffs</h2>
                    <h3 class="section-subheading text-muted">List</h3>
                </div>
                <div class="row">
                      <% @school_stuffs.each do |school_stuff| %>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/01-thumbnail.jpg" alt="" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">
                                  <p>
                                    <tr>
                                      <th>Title: </th>
                                      <td><%= school_stuff.name %></td>
                                    </tr>
                                    
                                    </br>
                                    <tr>
                                      <th>Price: </th>
                                      <td><%= school_stuff.price %>$</td>
                                    </tr>
                                    </br>

                                    <tr>
                                      <th>Pulisher: </th>
                                      <td><%= school_stuff.publisher %></td>
                                    </tr>
                                    </br>
                                    <td><%= link_to 'Show', school_stuff %></td>
                                    <td><%= link_to 'Edit', edit_school_stuff_path(school_stuff) %></td>
                                    <td><%= link_to 'Destroy', school_stuff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                        <% end %>
                </div>
            </div>
        </section>
<br>

<%= link_to 'New School Stuff', new_school_stuff_path %>
