<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school_stuff.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @school_stuff.price %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @school_stuff.publisher %>
</p>

<p>
  <% if @school_stuff.image.attached? %>
    <%= image_tag @school_stuff.image %>
  <% end %>
</p>
<h2>Review From</h2>
<%= form_with(model: @school_review, local: true) do |form| %>
  <div class= "field">
    <%= form.text_area :review %>
    <%= form.hidden_field :school_stuff_id, :value => @school_stuff.id %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<h2>Review List</h2>
<ul>
  <% @school_stuff.school_review.each do |school_review|%>
   <li><%= school_review.review %>
     (<i><%= school_review.user.name if school_review.user %></i>)</li>
<% end %>
</ul>
<%= link_to 'Edit', edit_school_stuff_path(@school_stuff) %> |
<%= link_to 'Back', school_stuffs_path %>
