<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
          <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Book</h2>
                    <h3 class="section-subheading text-muted">More information of the book</h3>
                </div>
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="color:white">Title</label>
                                <%= form.label :title %><br>
                                <%= form.text_field :title %>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label style="color:white">Number of page</label>
                                <%= form.label :number_of_pages %><br>
                                <%= form.number_field :number_of_pages %>                           
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label style="color:white">Pulisher</label>
                                <%= form.label :pulisher %>
                                <%= form.text_field :pulisher %>
                            </div>
                            <div class="form-group">

                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <label style="color:white">Price</label>
                                <%= form.label :price %><br>
                                <%= form.text_field :price %>
                                <p class="help-block text-danger"></p>                              
                            </div>
                            <div class="form-group form-group-textarea mb-md-0">
                                <label style="color:white">Author</label>
                                <%= form.label :author %><br>
                                <%= form.text_field :author %>
                                <p class="help-block text-danger"></p>                              
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                            <%= form.submit %>

                    </div>
                </form>
            </div>
        </section>
  
  
<% end %>

