<p id="notice"><%= notice %></p>
<h1 style="color: Blue; padding-left: 5px "> Book Review</h1>
<div class="" style="margin-left: 5%">
    <table class="" >
       <tbody>
         <tr>
           <td><strong>Title:</strong></td>
           <td style="padding-left: 15px"><%= @book.title %></td>
          </tr>
          <tr>
            <td><strong>Number of pages:</strong></td>
            <td style="padding-left: 15px"><%= @book.number_of_pages %></td>
          </tr>
          <tr>
            <td><strong>Price:</strong></td>
            <td style="padding-left: 15px"><%= @book.price %></td>
          </tr>
          <tr>
            <td><strong>Author:</strong></td>
            <td style="padding-left: 15px"><%= @book.author %></td>
          </tr>
          <tr>
            <td><strong>Pulisher:</strong></td>
            <td style="padding-left: 15px"><%= @book.pulisher %></td>
          </tr>
       </tbody>
    </table>
    


<h2 style="color: Blue">Review From</h2>
<%= form_with(model: @book_review, local: true) do |form| %>
  <div class= "field">
    <%= form.text_area :review %>
    <%= form.hidden_field :book_id, :value => @book.id %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<h2 style="color: Blue">Review List</h2>
<ul>
  <% @book.book_review.each do |book_review|%></br>
  <li  class="review">
   
     <b><%= book_review.user.name if book_review.user %></b>:<%= book_review.review %></br>
     
     </li>
<% end %>
</ul>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
</div>
<style>
    .review{
        border: 1px solid #000;
        padding-left:5px;
        list-style : none;
        border-radius: 10px;
        padding-top: 4px;
        padding-botton: 4px;
        width: 600px;
        background:Lavender;
    }
</style>
